<div *ngIf="!loading" >
    <h1>Cargando.....</h1>
</div>
<div class="container"  *ngIf="loading" >
    <h2>Listado de Estudiante por Materias</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre Estudiante</th>
                <th>Materia</th>
                <th>Profesor</th>
            </tr>
        </thead>
        <tbody id="table-body" *ngFor="let item of listaMateriasEstudiante; let i = index">
            <td>{{item.nombre}}</td>
            <td>{{getNombreMateria(item.materia_id)}}</td>
            <td>{{getNombreProfesor(item.profesor_id)}}</td>
        </tbody>
    </table>
</div>
<div class="button">
    <button (click)="exit()">Salir</button>
</div>