<header>
    <div class="menu">
        <ul>
            <li [routerLink]="['/home', name, cedula]"><a><-- Ir atras</a></li>
            <li [routerLink]="['/']"> <a>Salir</a> </li>
        </ul>
    </div>
</header>
<div *ngIf="!loading" >
    <h1>Cargando.....</h1>
</div>
<div class="container"  *ngIf="loading" >
    <h2>Estudiantes con quien compartes materias</h2>
    <table>
        <thead>
            <tr>
                <th>Materia</th>
                <th>Nombre Estudiante</th>
            </tr>
        </thead>
        <tbody id="table-body" *ngFor="let item of listaMateriasEstudiante; let i = index">
            <td>{{item.nombreMateria}}</td>
            <td>{{item.nombreEstudiante}}</td>
        </tbody>
    </table>
</div>
