.title {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-materia {
    width: 250px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #a80000;
}

.card-profesores {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-materia:hover {
    border: 3px solid #0f0f0f;
}

.button {
    text-align: center;

    button {
        width: 180px;
        height: 60px;
        border-radius: 10px;
        color: #fff;
        background-color: rgb(91, 117, 175);
        cursor: pointer;
    }
}