<div class="title" >
    <h1>Elegir solamente 3 materias</h1>
</div>
<div class="card-container">
    <div class="card-materia" *ngFor="let item of listMaterias; let i = index" >
        <label>Nombre Materia : {{item.nombre}}</label>
        <label>Creditos Materia : {{item.creditos}}</label>
        <label for="" style="color: blue;" >
            Elegir materia
            <input type="checkbox"  (change)="getCheckMateria($event, i)" />
        </label>
        <div  >
            <div class="card-profesores"  *ngFor="let itemProf of item.profesores">
                <label>Nombre Profesor : {{itemProf.nombres}}</label>
            </div>            
        </div>
    </div>
</div>
<div class="button" >
    <button (click)="acceptMaterias()" >Guardar </button>
</div>